{{#paper-toolbar tall=tall classNames="md-whiteframe-1dp" as |toolbar|}}
  {{#toolbar.tools}}
    {{#if showBackButton}}
      {{#paper-button iconButton=true onClick=(action onBack)}}
        {{paper-icon "keyboard backspace" }}
      {{/paper-button}}
    {{/if}}

    <div class="{{if subTitle "toolbar-title__2-rows" ""}}">
      <h2 class="{{titleClass}}">{{title}}</h2>
      {{#if subTitle}}
        <h3>{{subTitle}}</h3>
      {{/if}}
    </div>

    <span class="flex"></span>
    {{yield}}

  {{/toolbar.tools}}
{{/paper-toolbar}}
