<div class="game-index">
  <h2 class="page-title">Spelare</h2>
  {{#paper-card as |card|}}
    {{#card.content}}
      Andra spelare kan gå genom att söka på spelet som heter
      <em>{{model.id}}</em>.

      {{#paper-list}}
        {{#each model.players as |player|}}
          {{#paper-item}}
             <img src={{player.user.avatar}} alt={{player.user.name}} class="md-avatar">
            <div class="md-list-item-text">
              {{player.user.name}}
            </div>
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
    {{/card.content}}
  {{/paper-card}}

  {{outlet}}
</div>
