{{#paper-list}}
  {{#each game.players as |player|}}
    {{#paper-item}}
      <img src={{player.user.avatar}} alt={{player.user.name}} class="md-avatar">
      <div class="md-list-item-text">
        {{player.user.name}}
      </div>
      <div class="md-list-item-right md-list-item-estimate-status">
        {{#if player.isDoneEstimating}}
          {{paper-icon "done" classNames="status--done"}}
        {{else}}
          Väntar...
        {{/if}}
      </div>
    {{/paper-item}}
  {{/each}}
{{/paper-list}}

<div class="layout-row btn-container">
  {{#paper-button
    raised=true
    classNames="btn__full-width btn__back"
    onClick=(action onBack)}}
    Backa
  {{/paper-button}}

  {{#paper-button
    primary=true
    disabled=disableNext
    raised=true
    classNames="btn__full-width btn__next"
    onClick=(action "next")}}
    Fortsätt
  {{/paper-button}}
</div>

