<div class="task-name">
  {{task.name}}
</div>
<div class="button-container layout-row layout-align-space-around">
  {{paper-button
    label=1
    raised=true
    accent=(eq 1 estimate)
    onClick=(action "estimate" 1)
  }}

  {{paper-button
    label=2
    raised=true
    accent=(eq 2 estimate)
    onClick=(action "estimate" 2)
  }}

  {{paper-button
    label=3
    raised=true
    accent=(eq 3 estimate)
    onClick=(action "estimate" 3)
  }}

  {{paper-button
    label=4
    raised=true
    accent=(eq 4 estimate)
    onClick=(action "estimate" 4)
  }}

  {{paper-button
    label=5
    raised=true
    accent=(eq 5 estimate)
    onClick=(action "estimate" 5)
  }}
</div>