<h2 class="page-title">St채duppgifter</h2>
{{#paper-card as |card|}}
  {{#card.content}}

    {{#paper-list}}
      {{#each game.tasks as |task index|}}
        {{#paper-item as |controls|}}
          <span class="task-number">{{inc index 1}}.</span>
          <p>
            {{task.name}}
          </p>

          {{#paper-button iconButton=true onClick=(action "remove" task)}}
            {{paper-icon "delete" size=18}}
          {{/paper-button}}
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}

    <form {{action (action "addTask" taskName) on="submit"}}>
      <div class="layout-row">
        <div class="layout-column flex-80">
          {{paper-input label="L채gg till st채duppgift" value=taskName onChange=(action (mut taskName))}}
        </div>

        {{#paper-button iconButton=true raised=true accent=true type="submit" class="btn-inline btn__add-task"}}
          {{paper-icon "done"}}
        {{/paper-button}}
      </div>
    </form>

    {{#paper-button primary=true disabled=showNext raised=true classNames="btn__full-width" onClick=(action "next")}}
      Forts채tt
    {{/paper-button}}
  {{/card.content}}
{{/paper-card}}

{{yield}}
