{{#if isMyTurn}}
  <h2 class="page-title">Din tur att välja</h2>

  {{#paper-card as |card|}}
    {{#card.content class="no-padding"}}
      {{#paper-list}}

        {{#each unassignedTasks as |task index|}}
          {{#paper-item onClick=(action "chooseTask" task) as |controls|}}
            <div class="layout-row" style="width:100%">
              <div class="flex-90">{{task.name}}</div>
              <div class="flex">{{task.averageEstimate}}</div>
            </div>
          {{/paper-item}}

          {{#unless (eq unassignedTasks.length (inc index))}}
            {{paper-divider}}
          {{/unless}}
        {{/each}}

      {{/paper-list}}

    {{/card.content}}
  {{/paper-card}}

  <div class="layout-padding">
    {{#paper-button raised=true class="btn__full-width" onClick=(toggle-action "showPlayersWhenChoosing" this)}}
      {{#if showPlayersWhenChoosing}}
        Dölj spelarnas val
        {{paper-icon "keyboard_arrow_up"}}
      {{else}}
        Visa spelarnas val
        {{paper-icon "keyboard_arrow_down"}}
      {{/if}}
    {{/paper-button}}
  </div>

  {{#if showPlayersWhenChoosing}}
    {{#each players as |player|}}
      {{cg-game/choose-tasks/player-card
          player=player
          tasks=game.tasks}}
    {{/each}}
  {{/if}}

{{else}}

  <h2 class="page-title">Valda uppgifter</h2>

  {{#if allTasksAssigned}}
    {{#paper-card as |card|}}
      {{#card.content}}
        <p>Alla uppgifter har valts!</p>
        {{#paper-button primary=true disabled=showNext raised=true classNames="btn__full-width" onClick=(action "next")}}
          Börja städa
        {{/paper-button}}
      {{/card.content}}
    {{/paper-card}}
  {{/if}}

  {{#each players as |player|}}
    {{cg-game/choose-tasks/player-card
        player=player
        tasks=game.tasks
        playerTurn=playerTurn}}
  {{/each}}


{{/if}}