<h2 class="page-title">Betygsätt uppgifterna</h2>
{{#paper-card as |card|}}
  {{#card.content}}
    {{#if currentPlayer.isDoneEstimating}}
      {{cg-game/estimate/task-estimating-status
          game=game
          allPlayersDoneEstimating=allPlayersDoneEstimating
          onBack=(action "backToEstimating")}}
    {{else}}
      <p>
        Sätt ett betyg på hur jobbiga uppgifterna är. <br>
        1 är lättast och 5 är jobbigast.
      </p>

      {{#each game.tasks as |task|}}
        {{cg-game/estimate/task-estimate
          task=task
          playerId=currentPlayer.playerId
          playerTasks=currentPlayer.playerTasks
          onEstimate=(action "estimate")
          onRemoveEstimate=(action "removeEstimate")
          classNames="task-estimate"
        }}
      {{/each}}

      {{#paper-button primary=true disabled=disableDoneEstimating raised=true classNames="btn__full-width" onClick=(action "doneEstimating")}}
        Fortsätt
        {{#if disableDoneEstimating}}
          {{currentPlayer.playerTasks.length}}/{{game.tasks.length}}
        {{/if}}
      {{/paper-button}}

    {{/if}}
  {{/card.content}}
{{/paper-card}}
